services:
  backend:
    build: .
    container_name: fastapi_backend
    restart: no
    ports:
      - "8443:8443"
    env_file:
      - .env
    volumes:
      - ./credentials/service-account.json:/credentials/service-account.json
      - letsencrypt:/etc/letsencrypt:ro
    deploy:
      resources:
        limits:
          cpus: "1.3"
          memory: 1.5g
        reservations:
          cpus: "0.5"
          memory: 512m

  nginx:
    image: nginx:alpine
    container_name: fastapi_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - letsencrypt:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot --webroot-path=/var/www/certbot --email brucebpeters12@gmail.com -d api.wordwizai.com --agree-tos --non-interactive

volumes:
  letsencrypt:
