services:
  backend:
    build: .
    container_name: fastapi_backend
    restart: no
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./credentials/service-account.json:/app/credentials/service-account.json
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1.5g
        reservations:
          cpus: "0.5"
          memory: 512m

  nginx:
    image: nginx:alpine
    container_name: fastapi_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

volumes:
  pgdata:
