fastapi
uvicorn
pydantic
sqlalchemy
databases
python-jose[cryptography]
passlib[bcrypt]
PyJWT
python-decouple
python-multipart
openai
sounddevice
numpy<2.0.0
dotenv
pandas
torch==2.6.0
librosa
transformers>=4.30.0
eng_to_ipa
elevenlabs
noisereduce
IPython
editdistance
webrtcvad
optree>=0.13.0
alembic
