torch
fastapi
uvicorn
gunicorn
pydantic
sqlalchemy
pymysql
databases
python-jose[cryptography]
passlib[bcrypt]
PyJWT
python-decouple
python-multipart
openai
sounddevice
numpy<2.0.0
dotenv
pandas
librosa
transformers>=4.30.0
eng_to_ipa
elevenlabs
noisereduce
IPython
editdistance
optree>=0.13.0
alembic
authlib[starlette]
requests
itsdangerous
pydub
google-genai
google-cloud-texttospeech
typing_extensions
